.verification {
    width: 100%;
    height: 100vh;
    background: #1d5564;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 999;
}

.verification_container {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.verification_timer {
    position: absolute;
    top: 30px;
    color: red;
    font-weight: 600;
    font-size: 18px;
}

.verification_order {
    color: #0A1927;
    font-weight: 500;
    font-size: 20px;
}

.verification_numbers {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.verification_error {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: #FF4649;
    font-weight: 400;
    font-size: 10px;
}

.verification_input {
    height: 40px;
    width: 40px;
    background: #1d5564;
    color: #fff;
    text-align: center;
    font-size: 20px;
    caret-color: #fff;
}

.verification_btn {
    background: #C1D3DF;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 10px;
    color: #0A1927;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    visibility: hidden;
}

.verification_resend {
    color: red;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: 70px;
    background: #C1D3DF;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 10px;
}