.small_loader {
    width: 100%;
    display: grid;
    place-items: center;
}

.small_loading-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #1d5564;
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}