.slider {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    overflow: hidden;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.active-slide {
    opacity: 1;
    transform: translateX(0);
}

article.last-slide {
    transform: translateX(-100%);
}

article.next-slide {
    transform: translateX(100%);
}

.dots {
    position: absolute;
    width: 50px;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 20px;
}

.dot1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
}

.dot2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1d5564;
    transition: .5s;
}
  
:is(.dot1, .dot2, article):hover {
    cursor: pointer;
}

.arrows-container {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.arrows-container i {
    font-size: 17px;
    color: #fff;
    z-index: 10;
}

.arrow-span {
    width: 80px;
    height: 60px;
    transition: 1s;
    display: grid;
    place-content: center;
    opacity: .2;
    background: #1d5564;
}

.arrow-span:hover {
    cursor: pointer;
}